
# Created by https://www.toptal.com/developers/gitignore/api/swift.macos
# Edit at https://www.toptal.com/developers/gitignore?templates=swift.macos

#!! ERROR: swift.macos is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/swift.macos
